<div class="wrapper-images">
	<div class="images-line">
		<div class="line large" style="background-image:url(https://m.media-amazon.com/images/I/71eltBLgjlL.jpg)"></div>
		<div class="line" style="background-image:url(https://i.ebayimg.com/images/g/GuAAAOSwJKVk2Bxs/s-l1200.jpg)"></div>
		<div class="line" style="background-image:url(https://i.pinimg.com/736x/64/12/8b/64128bf300b42ec3f6aeab7325a21290.jpg)"></div>
		<div class="line large" style="background-image:url(https://i.pinimg.com/736x/79/36/01/79360169449083826b05c685885346f3.jpg)"></div>
		<div class="line" style="background-image:url(https://i.pinimg.com/564x/75/57/72/7557724c412f48039ff2707f6c79ca18.jpg)"></div>
		<div class="line" style="background-image:url(https://i.pinimg.com/736x/2e/b1/d0/2eb1d0a114ea64c255eb2cbc89b70ae2.jpg)"></div>
	</div>
	<div class="images-line">
		<div class="line" style="background-image:url(https://i.pinimg.com/564x/06/f7/7e/06f77eebe0a8ea32943e697f19c569dd.jpg)"></div>
		<div class="line large" style="background-image:url(https://i.pinimg.com/236x/24/9f/03/249f03b05dea65f317f9d142d8f98f12.jpg)"></div>
		<div class="line" style="background-image:url(https://i.pinimg.com/736x/95/68/cb/9568cbe70bf3b144334e0e2e3bf1d443.jpg)"></div>
		<div class="line" style="background-image:url(https://i.pinimg.com/736x/5a/14/e4/5a14e43b559aa6cb5655f64848f9d271.jpg)"></div>
		<div class="line large" style="background-image:url(https://i.pinimg.com/originals/eb/ba/8b/ebba8bb9d0d2848f4b05dfa9432a023d.jpg)"></div>
		<div class="line" style="background-image:url(https://i.pinimg.com/736x/f1/2d/75/f12d757603cc440a4df19bcca7beca48.jpg)"></div>
	</div>
	<div class="images-line">
		<div class="line " style="background-image:url(https://i.pinimg.com/736x/a1/ea/de/a1eadeee110c42791466c99f6ec8e7d8.jpg)"></div>
		<div class="line" style="background-image:url(https://i.pinimg.com/736x/94/3b/9e/943b9eabd0320910f2ed5505a849bfe8.jpg)"></div>
		<div class="line large" style="background-image:url(https://i.pinimg.com/474x/27/96/98/27969896d5b8ad5cadfe0851201852ff.jpg)"></div>
		<div class="line " style="background-image:url(https://i.pinimg.com/736x/0c/0f/65/0c0f655fc9ecdea9d813327825aaf26a.jpg)"></div>
		<div class="line" style="background-image:url(https://i.pinimg.com/474x/2b/aa/7e/2baa7eca261c9dd851680c4ae2cd1b90.jpg)"></div>
		<div class="line large" style="background-image:url(https://i.pinimg.com/474x/9e/4e/07/9e4e07fd49bbfedbe23f35ecf74afe01.jpg)"></div>
	</div>
</div>
<div class="container">
	<div class="logo">
<h1>Salon</h1>
	</div>
	<nav class="menu">
		<a href="https://www.instagram.com/stories/highlights/17873397626383767/">Clientes</a>
		<a href="https://www.instagram.com/stories/highlights/17860817942544583/">Products</a>
		<a href="https://www.instagram.com/stories/highlights/17888680058390863/">Location</a>
		<a href="https://wa.me/5491168400468">👍 Whatsapp</a>
	</nav>
</div>