<div class="wrapper-images">
	<div class="images-line">
		<div class="line large" style="background-image:url(https://plus.unsplash.com/premium_photo-1670740967011-86730910a2e5?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjkzfHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line" style="background-image:url(https://images.unsplash.com/photo-1716235597847-3eb67eb84c1d?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzA2fHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line" style="background-image:url(https://images.unsplash.com/photo-1718397172443-48185c6bb4e1?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzI0fHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line large" style="background-image:url(https://images.unsplash.com/photo-1557327157-b68b9d993bc1?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzE5fHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line" style="background-image:url(https://images.unsplash.com/photo-1629471722874-13d4208d62ea?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzU2fHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line" style="background-image:url(https://images.unsplash.com/photo-1615996001375-c7ef13294436?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzgyfHxmb29kfGVufDB8fDB8fHww)"></div>
	</div>
	<div class="images-line">
		<div class="line" style="background-image:url(https://plus.unsplash.com/premium_photo-1683619761464-6b7c9a2716a8?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDI1fHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line large" style="background-image:url(https://plus.unsplash.com/premium_photo-1679434137646-8070e1d41f19?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDQ1fHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line" style="background-image:url(https://images.unsplash.com/photo-1559979655-633f6129e514?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDU1fHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line" style="background-image:url(https://images.unsplash.com/photo-1670237735422-5e09f35cc027?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDQ2fHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line large" style="background-image:url(https://images.unsplash.com/photo-1543392706-0bc759dfb6bc?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDQ4fHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line" style="background-image:url(https://images.unsplash.com/photo-1557130597-9e5e0aac11a2?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDU0fHxmb29kfGVufDB8fDB8fHww)"></div>
	</div>
	<div class="images-line">
		<div class="line " style="background-image:url(https://images.unsplash.com/photo-1674938556574-78abfb2d9fb2?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTM0fHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line" style="background-image:url(https://images.unsplash.com/photo-1651744873274-5b1eb5e02586?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTM5fHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line large" style="background-image:url(https://images.unsplash.com/photo-1608767221051-2b9d18f35a2f?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTYwfHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line " style="background-image:url(https://plus.unsplash.com/premium_photo-1695758787675-d67242b3529f?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjI5fHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line" style="background-image:url(https://images.unsplash.com/photo-1611309454921-16cef3438ee0?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjM4fHxmb29kfGVufDB8fDB8fHww)"></div>
		<div class="line large" style="background-image:url(https://images.unsplash.com/photo-1673006768363-e09be1444330?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzU5fHxmb29kfGVufDB8fDB8fHww)"></div>
	</div>
</div>
<div class="container">
	<div class="logo">
		<img src="https://www.design-fenix.com.ar/natural-logo.png" alt="Natural Bakery">
	</div>
	<nav class="menu">
		<a href="https://www.instagram.com/stories/highlights/17873397626383767/">🐶 Clientes</a>
		<a href="https://www.instagram.com/stories/highlights/17860817942544583/">Nuestros Productos</a>
		<a href="https://www.instagram.com/stories/highlights/17888680058390863/">Precio de Envios</a>
		<a href="https://wa.me/5491168400468">👍 Whatsapp</a>
	</nav>
</div>