<app-nav-bar></app-nav-bar>

<section id="home" class="home-bg">
  <div class="content">
    <h2 class="title">Nail Glam</h2>
    <div class="image-text-wrapper">
      <img
        class="img"
        src="https://imgix.bustle.com/uploads/image/2022/9/30/cd85f4d0-fdf1-4166-8454-f3d01ba6ea7c-instagram.jpeg?w=800&h=800&fit=crop&crop=faces&dpr=2"
        alt="Nail Art Example"
      />
      <div class="text-and-button">
        <p class="description">
          Welcome to Nail Glam – where elegance meets artistry.
        </p>
        <a href="https://wa.me/27788800970" target="_blank" class="button">
          Book Now
        </a>
      </div>
    </div>
  </div>
</section>




<app-ourServices></app-ourServices>
<app-home></app-home>
<app-footer></app-footer>
